body {

}
.btn {
	background-color: #00c96d !important;
}

.login {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
}

.row {
	text-align: center;
}
.row a {
	margin: 5px 5px 0 5px;
}

.snapshot {
	font-weight: lighter;
	margin-top: 30px;
}

.mainView, .dataTables_length {
	display: none;
}

input[type=search] {
    width: 40% !important;
    margin-left: 5px !important;
}
th:hover, #editExpenseResult_paginate a:hover {
    cursor: pointer;
}
.light {
    margin-top: 35px;
}

.navigationBar {
    background-color: #ee6e73;
    padding: 15px 0 15px 0;
}
.navigationBar a{
    color: white;
}

.navItem {
	font-size: 15px;
	font-weight: bold;
	margin-right: 2px;
}

#cashFlowView, #allocationView, #editView, #goalView {
	display: none;
}

#cashFlowView, #allocationView, #goalView {
	margin-top: 55px;
	max-height: 500px;
}

thead {
    border-bottom: 0px solid white !important;
}
#editView {
	margin-top: 55px;
}

#editExpenseResult, #editGoalResult {
    margin-left: 6%;
}

.removeCateg {
    margin:-4px 0 0 10px !important;
    width: 25px !important;
    height: 25px !important;
}

.smallRemove {
    line-height:25px !important;
}