body {

}

.btn {
	background-color: #00c96d !important;
}

.login {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
}

.row {
	text-align: center;
}
.row a {
	margin: 5px 5px 0 5px;
}

.snapshot {
	font-weight: lighter;
	margin-top: 30px;
}

.mainView {
	display: none;
}

#navigationSideBar {
	padding-top: 15%;
}

.navItem {
	font-size: 15px;
	font-weight: bold;
	margin-right: 2px;
}

.rightView {
	margin-left: 10%;
}

.leftView, #cashFlowView, #allocationView, #editView {
	display: none;
}

#cashFlowView, #allocationView {
	margin-top: 55px;
	max-height: 500px;
}

#editView {
	margin-top: 55px;
}